body {
  font-family: Arial;
  font-size: 10px;
  color: black;
  background-color: white;
}

.navbar-brand, h2 {
  color: #000;
  font-weight: bold;
}

.card {
  border: none;
}

.btn-primary {
  background-color: lightblue;
  border-color: lightblue;
}

.btn-outline-primary {
  color: lightblue;
  border-color: lightblue;
}

.btn-outline-primary:hover, .btn-primary:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}